server:
  port: 8081
spring:
  application:
    name: user
  datasource:
    url: jdbc:mysql://localhost:3306/imooc_user
    username: root
    password: 123456
    driver-class-name: com.mysql.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

eureka:
  client:
    serviceUrl:
      defaultZone: http://imooc:111111@localhost:8761/eureka/

axon:
  distributed:
    enabled: true
  amqp:
    exchange: Imooc.EventBus
